/bin
/target
/mtgox.properties
/scalper.log
/tests.log
/trader_test.sqlite
/scalper.sqlite
/bitstamp.properties
/btce.properties
/log/*.log*
/plugins
/BitcoinTrader
/conf
/chart.plot
/chart.png
/recentCandles_1.plot
/recentCandles_1.png
/recentCandles_2.plot
/recentCandles_2.png
